body {
  margin: 0 0;
  border: 50px rgb(220, 56, 56) solid;
}
@media (max-width: 575px) {
  body {
    border: 20px brown solid;
  }
}

header {
  padding: 20px;
}
header div {
  width: 100%;
  height: 200px;
  padding: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 12px rgb(87, 55, 55);
}
@media (max-width: 575px) {
  header div {
    height: 100px;
  }
}
header div img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
header div h1 {
  font-size: 50px;
  color: rgb(28, 12, 12);
  text-align: center;
  text-decoration: underline;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  position: absolute;
  top: 20%;
  left: 48%;
}
@media (max-width: 575px) {
  header div h1 {
    font-size: 30px;
  }
}
header a {
  font-size: 50px;
}
header nav {
  margin: 10px;
  border-bottom: 1px grey dashed;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 575px) {
  header nav {
    margin: 5px;
    font-size: 20px;
  }
}
header nav a {
  font-size: 25px;
  color: rgb(133, 69, 69);
  font-weight: bold;
  margin: 10px;
  padding: 3px;
}
header nav a:hover {
  background-color: rgb(184, 99, 99);
  transform: scale(1.2);
  border: 1px black solid;
  color: white;
}
@media (max-width: 575px) {
  header nav a {
    font-size: 18px;
    padding: 2px;
  }
}

main {
  padding: 10px;
}
main h2 {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
@media (max-width: 575px) {
  main h2 {
    font-size: 18px;
  }
}
main p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media (max-width: 575px) {
  main p {
    font-size: 15px;
  }
}
main ul {
  list-style-type: circle;
}
main ul li {
  font-size: 40px;
  color: red;
}
@media (max-width: 575px) {
  main ul li {
    font-size: 20px;
  }
}
main ul li div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 575px) {
  main ul li div {
    flex-direction: column;
    gap: 10px;
  }
}
main ul li div ul {
  list-style-type: decimal;
}
main ul li div ul li {
  font-size: 20px;
  color: black;
}
@media (max-width: 575px) {
  main ul li div ul li {
    font-size: 15px;
  }
}
main ul li div img {
  align-self: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}
@media (max-width: 575px) {
  main ul li div img {
    display: none;
  }
}

#div-moka {
  display: grid;
  grid-template-columns: 20% 10% 10% 10% 10% 10% 20%;
  grid-template-rows: 50px 50px;
  grid-template-areas: "img-moka1 h1-moka h1-moka h1-moka h1-moka h1-moka img-moka2" "img-moka1 nav-moka nav-moka nav-moka nav-moka nav-moka img-moka2";
}

.nav-moka {
  grid-area: nav-moka;
}

.h1-moka {
  grid-area: h1-moka;
}

.img-moka1 {
  grid-area: img-moka1;
}

.img-moka2 {
  grid-area: img-moka2;
}

footer {
  background-color: rgb(245, 126, 126);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  padding: 0;
  border-top: dashed black 2px;
}
footer p {
  font-size: 40px;
  text-shadow: 3px 3px 4px white;
}
footer img {
  height: 150px;
  width: 150px;
  align-self: baseline;
}

#div-americano {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#div-americano h2 {
  background-color: rgb(144, 75, 75);
  display: inline-block;
  height: 300px;
  width: 250px;
  border: 3px black solid;
  position: absolute;
}
#div-americano h2:hover {
  transform: translate(250px);
  transition: all 2s;
}
#div-americano img {
  height: 300px;
  width: 250px;
}

/*# sourceMappingURL=style.css.map */
