$colors:
red,
pink,
blue,
white,
yellow,
rgba(165, 70, 70, 0.53); 


$size:
2px,
4px,
6px,
8px,
10px,
12px,
24px,
36px,
48px;

$align:
left,
right,
center;

$decoration:
unset,
dashed,
dotted,
double,
line-through,
overline,
underline,
solid,
wavy,
none;

