
#div-moka{
    display: grid;
    grid-template-columns: 20% 10% 10% 10% 10% 10% 20%;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
    "img-moka1 h1-moka h1-moka h1-moka h1-moka h1-moka img-moka2"
    "img-moka1 nav-moka nav-moka nav-moka nav-moka nav-moka img-moka2";
}
.nav-moka{
    grid-area: nav-moka;
}
.h1-moka{
    grid-area: h1-moka;
}
.img-moka1{
    grid-area: img-moka1;
}
.img-moka2{
    grid-area: img-moka2;
}

