/*FONTS
font-family: 'Fira Sans', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Lobster', cursive;
font-family: 'Lugrasimo', cursive;
font-family: 'Nanum Myeongjo', serif;*/
main{
    padding: 15px;
    h2{
        font-size: 30px;
        font-weight: bolder;
        font-family: 'Lobster', cursive;
        text-align: center;
        @media (max-width:575px){
            font-size: 18px;
        }
   }
    p{
        font-family: 'Lugrasimo', cursive;
        font-weight: bolder;
        font-size: 20px;
        @media (max-width:575px){
            font-size: 15px;
        }
   }
   #divguia{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        
        img{
            align-self: center;
            border-radius: 10px;
            box-shadow: 4px 4px 2px brown;
            @media (max-width:575px){
                width: 250px;
                height: 330px;
            }
        }
   }
   ul{
    list-style-type: circle;
    @media (max-width:575px){
        padding: 2px;
    }
      li{
        font-family: 'Lugrasimo', cursive;
        margin: 50px 0;
        font-size: 40px;
        color: red;
        @media (max-width:575px){
            font-size: 20px;
            margin: 10px 0;
        }
        div{ 
            display: flex;
            justify-content: space-between;
            gap: 30px;
            @media (max-width:575px){
               display: inline-block;
            }
            ul{
                list-style-type: decimal;
                   li{
                       font-family: 'Lugrasimo', cursive;
                       font-size: 20px;
                       margin: 5px;
                       color: black; 
                       @media (max-width:575px){
                        font-size: 15px;
                       }
                }                                       
            }
            img{
                align-self: center;
                border-radius: 20px;                 
                box-shadow: 5px 5px 10px black;
                @media (max-width:575px){
                    height: 200px;
                    width: 150px;
                    display: none;
                }
            }
        }
      }
   }
}



