/*FONTS
font-family: 'Fira Sans', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Lobster', cursive;
font-family: 'Lugrasimo', cursive;
font-family: 'Nanum Myeongjo', serif;*/
#div-americano{
    position: relative;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .divb{
        background-color: rgb(144, 75, 75);
        height: 350px;
        width: 300px;
        border: 3px black solid;
        position: absolute;  
        display: flex;       
        &:hover{
            transform: translate(250px);
            transition: all (2s);
        }
        p{
            justify-self: center;
            align-self: center;
            font-family: 'Lobster', cursive;
            font-size: 45px;
            padding-left: 10px;
        }
    
    }
    img{
        height: 350px;
        width: 300px;
    }
}
.p1-americano{
    font-family: 'Fira Sans', sans-serif;
    padding: 20px 100px ;
}
.cont-flex{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    p{
        width: 600px;
    }
}
.align{
    align-self: center;
}
.box-model{
    border-radius: 30px;                 
    box-shadow: 5px 5px 10px black;
}
#div-preparacion{
    margin: 50px;
    p{
        font-size: 25px;
        text-align: center;
    }
    li{
        font-size: 30px;
        color:rgb(91, 0, 0);
    }
}
