/*FONTS
font-family: 'Fira Sans', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Lobster', cursive;
font-family: 'Lugrasimo', cursive;
font-family: 'Nanum Myeongjo', serif;*/
#div-principal{
        position: relative;
        overflow: hidden;
        .img-principal{
            width: 100%;
            height: 600px;
            opacity: 0.6;
            border-radius: 5px;
            @media (max-width: 575px){
                height: 300px;
            }
        }    
        h2{
            position: absolute;
            top: 40%;
            right: 35%;
            font-size: 40px;
            color: white;
            text-shadow: 2px 2px 1px black;
            @media (max-width: 575px){
                top: 5%;
                right: 25%;
                font-size: 25px;
            }
        p{
            font-family: 'Fira Sans', sans-serif;
            font-size: 30px;
            @media (max-width: 575px){
                font-size: 15px;
            }
        }    
        }
    }
    section{
        display: flex;
        justify-content: space-between;
        gap: 3px;
        margin: 20px;
        @media (max-width: 575px){
            flex-direction: column;
        }
        .div-exp{
            width: 30%;
            @media (max-width: 575px){
            width: 100%;
            }
            h3{
                font-size: 30px;
                @media (max-width: 575px){
                    font-size: 20px;
                }
            }
            p{
                font-family: 'Fira Sans', sans-serif;
                font-size: 20px ;
                @media (max-width: 575px){
                    font-size: 15px;
                }
            }
            img{
                width: 250px;
                height: 200px;  
                @media (max-width: 575px){
                    width: 150px;
                    height: 100px;
                } 
            }        
        }
    }    
        #section2{  
            #div-gr{
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 25% auto;
                grid-template-areas: 
                "titulo titulo"
                "contenido img";
                width: 100%;
                @media (max-width: 575px){
                    display: flex;
                    flex-direction: column;
                }
            }
            .h3-gr{
                grid-area: titulo;
                justify-self: center;
                font-size: 30px;
                @media (max-width: 575px){
                    font-size: 20px;
                }
            }
            .p-gr{
                font-family: 'Fira Sans', sans-serif;
                grid-area: contenido;
                font-size: 20px;
            }
            .img-gr{
                grid-area: img;
                width: 350px;
                height: 250px;
                opacity: 1;
                justify-self: center;
                align-self: center;
                box-shadow: 3px 3px 5px brown;  
                @media (max-width: 575px){
                    width: 250px;
                    height: 150px;
                }
            }
        }
        #section3{
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0;
            h3{
                font-size: 30px;
            }
            .div3{
            display: flex;
            justify-content: space-around;
            width: 100%; 
                ol{
                    li{
                        h4{
                            font-size: 27px;
                            text-decoration: underline;
                            @media (max-width: 575px){
                                font-size: 20px;
                            }
                        }
                        p{
                            font-family: 'Fira Sans', sans-serif;
                            font-size: 20px;
                            @media (max-width: 575px){
                                font-size: 15px;
                            }
                        }
                    }
                }
                .div4{
                flex-direction: column;       
                img{ 
                    opacity: 1;
                    border-radius: 50px;
                    width: 260px;
                    height: 250px;
                    @media (max-width: 575px){
                        display: none;
                    }
                }
                p{
                    @media (max-width: 575px){
                    display: none;
                }
            }
            }
                .div5{
                flex-direction: column;
                align-items: flex-end;  
                p{
                    @media (max-width: 575px){
                        display: none;
                    }
                }
                   img{
                    opacity: 1;    
                    border-radius: 50px;
                    width: 260px;
                    height: 250px;
                    @media (max-width: 575px){
                        width: 160px ;
                        height: 150px;
                    }
                   }
                }
            }
        }
h3{
    font-family: 'Lobster', cursive;
}
